@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Jua&display=swap');
body {
  height: 100%; 
  background-color: #F2D6BD;
}
.active-color{
  color: #642F2F;
}
.active-back-color{
  background-color: #642F2F;
}
.green-text-color{
  color: #1C382A;
}
.card-text-color{
  color: #5C3E2F;
}
.pouch-color-text{
  color: #3F231F;
}
.footer-back-color{
  background-color: #A17069;
}
.footer-text{
  color: #5C3E2F;
}
.jomhuria-regular {
  font-family: "Jomhuria", serif !important;
  font-weight: 400;
  font-style: normal;
}
.jua-regular {
  font-family: "Jua", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}
